.button {
    width: 200px;
    height: auto;
	border-radius:15px;
	background:#497699;
}

#content {
    height: 100%;
}

#MainContainer{
	width: 95%;
	background: #666666;
	margin:auto;
	border-radius:10px;
	padding: 10px 10px 10px 10px;
}

#MainContainerContent{
	width:100%;
	background: #a0bfd7;
}

body,header{
	background:#e1e1e1;
}


.menuBlock{
	margin:auto;
	width:70%;
	text-align:center;
	margin-bottom:30px;
}

.menuBlock p {
	margin:auto;
	width:60%;
}


.menuBlock h1{
	color:#3b1e74;
	font-size:46px;
}

.menuBlockPicture{
	margin:auto;
	width:80%;
}

#nextbutton{

	margin:auto;
	width:200px;
}

@media screen and (max-width: 500px) {
	
	.menuBlock h1{
	color:#3b1e74;
	font-size:40px;
	}

	.menuBlock p {
		margin:auto;
		width:90%;
		text-align:center;
		margin-bottom:30px;
	}
}