.button {
    width: 100px;
    height: auto;
	border-radius:15px;
	background:#497699;
}

#content {
    height: 100%;
}

.content_holder {
    text-align: center;
    background-color: #15848f;
    min-height: 100%;
}

#MainContainer{
	width: 95%;
	background: #666666;
	margin:auto;
	border-radius:10px;
	padding: 10px 10px 10px 10px;
}

#MainContainerContent{
	width:100%;
	background: #a0bfd7;
}

.NavBar {
	width:100%;
	background: #497699;
	text-align: center;
	color:#d2e3f0;
}

body,header{
	background:#e1e1e1;
}

#Container{
	padding: 10px 0 10px 0;
}

#product{
	width: 20%;
	background: #d2e3f0;
	color:#000000;
	margin: auto;
	margin-bottom:30px;
	margin-top:30px;
	padding: 30px 0px 30px 0px;
	border-radius:5px;
	text-align:center;
}

.rightside{
	float:right;
	width:15%;
	padding: 15px 0px 20px 0px;
	
}

.block{
	padding: 3px 3px 3px 3px;
	background:#497699;
	color:#d2e3f0;
	margin:15px 15px 15px 15px;
	border-radius:10px;
}

.correct {
	text-align: center;
}

#mainQuestion{
	background:#d2e3f0;
	color:#000000;
	padding:3px 3px 3px 3px;
	margin-bottom:20px;
}
#questions{
	padding:3px 3px 3px 3px;
	background:#d2e3f0;
}
.question{
	padding: 10px 10px 10px 10px;
	margin:10px 0 10px 0;
}
#footpanel{
	margin:15px 0 0 0;
	padding-bottom:15px;
}

#footpanelHolder{
	width:30%;
	margin:auto;
}

#nextbutton{
	margin:auto;
	width:100px;
}